
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.icon-space {
  margin-right: 7px; /* You can adjust the value as needed */
}

body {
  min-height: 100vh;
  background-color: #5E1984; /* For browsers that do not support gradients */
  background-image: linear-gradient(#5E1984, #DE6283, #472B6C);
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #5E1984;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;

}

.navbar a {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 35px;
}

.navbar a:hover{
  color: #DE6283;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.main {

    height: 1500px;
    text-align: center;
}

.main h1 {
  background-color: #ffffff;
  height: 70px;
  width: 700px;
  text-align: center;
  color: #7b1b6d;
  line-height: 70px; /* Adjust the line-height to vertically center the text */
  margin: 0 auto; /* Center the element horizontally */
}

.header h1 {
background-color: #ffffff;
height: 70px;
width: 700px;
text-align: center;
color: #7b1b6d;
border-radius: 100px;
line-height: 70px; /* Adjust the line-height to vertically center the text */
margin: 0 auto; /* Center the element horizontally */
}

/*
  FOOTER 
*/

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  overflow-x: hidden; /* Optional: Hide horizontal overflow */
}

.footer {
  position: fixed; /* Changed from 'absolute' to 'fixed' */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background: #5E1984;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
