@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.icon-space {
    margin-right: 7px; /* You can adjust the value as needed */
}

button {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right,#DE6283, #DE6283, #DE6283);
  border-radius: 5px;
  width: 180px;
  height: 52px;
  margin-bottom: 50px;
  margin-top: 200px;
  border: 3px solid #5E1984;
}


button:hover {
    background-color: #ffffff;
    color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #5E1984; /* For browsers that do not support gradients */
    background-image: linear-gradient(#5E1984, #DE6283, #472B6C);
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #5E1984;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 35px;
}

.navbar a:hover{
    color: #DE6283;
  }

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.main {
    height: 1500px;
    text-align: center;
}

.main h1 {
  background-color: #ffffff;
  height: 70px;
  width: 700px;
  text-align: center;
  color: #7b1b6d;
  line-height: 70px; /* Adjust the line-height to vertically center the text */
  margin: 0 auto; /* Center the element horizontally */
}

input {
    margin-top: 30px;
    border-radius: 5px;
    height: 51px;
    width: 400px;
    text-align: center;
    font-weight: bold;
    font-weight: 900;
    border: 3px solid #5E1984;
}

.popup {
    width: 400px;
    background-color: #fff;
    border: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-30%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 60%;
    transform: translate(-50%,-30%) scale(1);
}

.popup img {
    width: 200px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px ;
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    background-color: #7b1b6d;
    color: #ffffff;
    border-radius: 5px;
    width: 300px;
    height: 52px;
    margin-bottom: 50px;
    margin-top: 25px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

  .header h1 {
    background-color: #ffffff;
    height: 70px;
    width: 700px;
    text-align: center;
    color: #7b1b6d;
    border-radius: 100px;
    line-height: 70px; /* Adjust the line-height to vertically center the text */
    margin: 0 auto; /* Center the element horizontally */
  }

/*
  FOOTER
*/

:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow-x: hidden; /* Optional: Hide horizontal overflow */
}

.footer {
    position: fixed; /* Ensure the footer stays fixed at the bottom */
    bottom: 0; /* Position at the bottom of the viewport */
    left: 0;
    right: 0;
    padding: 20px; /* Adjust padding as needed */
    background-color: #5E1984;
    color: white;
    font-weight: 500;
    text-align: center;
}